<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="URL" value="https://anupdamoda.github.io/AceOnlineShoePortal/" />
    <add key="Salutation" value="Mr." />
    <add key="FirstName" value="Clark" />
    <add key="LastName" value="Smith" />
    <add key="InvalidEmailAddress" value="S" />
    <add key="ValidEmailAddress" value="PeterSmith@gmail.com" />
    <add key="Username" value="Peter" />
    <add key="Password" value="Password" />
    <add key="ShoeType" value=" Prestige Barlett Borgue" />
    <add key="ShoeColour" value="Brown" />
    <add key="ShoeSize" value="9" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>